body {
    padding: 0;
    margin: 0;
}

.content {
    margin-top: 60px;
}

#buyComplex {
    display: block;
    margin: auto;
    margin-top: 50px;
}

/* HEADER */
.header {
    padding: 10px;
    background-color: black;
    margin: 0;
}

.top-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    z-index: 4;
    background-color: black;
}

/* MENU */
.menu {
    display: block;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}
.menu ul, .menu ol {
  list-style: none;
}    

.menu > ul {
    display: flex;
    justify-content: center;
}    
.menu-item a {
    display: block;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform:uppercase;
}

.menu-item > a {    
    border-right: 1px solid white;
}

.menu > ul > li:last-child > a {
    border-right: 0;
}

.menu-item a:hover {
    color: darkgreen;
}

.menu-item {
    position: relative;    
}   


.menu:last-child {
    border-right-color: black;
}

/* SUB MENU */
.sub-menu {
    position: absolute;
    min-width: 150px;
    display: none;
    z-index: 1;
}   

.sub-menu-item a {
    padding: 10px;
    text-transform: none;
    background: black;
}   

.sub-menu-item a:hover {
    color: darkgreen;
}

.menu-item:hover > .sub-menu {
    display: block;
}

/* SLIDER */

.slider {
  width: 50%;
  margin: auto;
  position: relative;  
  margin-top: 60px;  
}

.mySlides {
    display: none;
    width: 100%;
}

.arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.leftArrow {
    float: left;
    cursor: pointer;
    transform: rotate(180deg);
}

.rightArrow {
    float: right;
    cursor: pointer;
}

/* DISHES */

#dishes-content {
    display: flex;
    flex-wrap: wrap;
    
    padding: 10px 9%;
}

.dish {
    border: 1px solid black;
    width: 10em;
    margin: 10px;
    padding: 5px;
    padding-bottom: 20px;
    background-color: lightgray;
    display: none;
    position: relative;
}

.dish-icon {
    width: 100%;
    height: 7em;
}

.add-btn {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

/* CONTACT */

.contact-content {
    margin: auto;
    width: 50%;
    
}
#map {
    width: 100%;
    height: 500px;
}

/* PAGINATION */

.pagination-active {
    color: darkgreen;
    background-color: lightgray;
}

.paginator {
    width: 30%;
    margin: auto;
    text-align: center;
}

.paginator span {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

/* BASKET */

#basket-div {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: lightseagreen;
    min-width: 500px;
    z-index: 100;
    border: 1px solid black;
}

.basket-header {
    padding: 5px;
    border-bottom: 1px dotted black;
}

.basket-content {
    padding: 5px;
}

.close-btn {
    background-color: transparent;
    border-color: transparent;
    float: right;
}

.plus-btn {
    margin-right: 5px;
}

.minus-btn {
    margin-left: 5px;
}

.basket-elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-elem > * {
    flex: 1;
    text-align: center;
}

.delete-btn {
    flex-grow:0.1;
}

/* GALERY */

#galery-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    
}

.galery-img {
    width: 300px;
    margin: 10px;
}

/* FILTER */
.filter {
    float: left;
    padding: 10px;
}