body {
    padding: 0;
    margin: 0;
}

/* HEADER */
.header {
    padding: 10px;
    background-color: black;
    margin: 0;
}

/* MENU */
.menu {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;  
}

ul {
    padding: 0;
    margin: 0;
}
.menu ul, .menu ol {
  list-style: none;
}    

.menu > ul {
    display: flex;
    justify-content: center;
}    
.menu-item a {
    display: block;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform:uppercase;
}

.menu-item > a {    
    border-right: 1px solid white;
}

.menu > ul > li:last-child > a {
    border-right: 0;
}

.menu-item a:hover {
    color: darkgreen;
}

.menu-item {
    position: relative;    
}   


.menu:last-child {
    border-right-color: black;
}

/* SUB MENU */
.sub-menu {
    position: absolute;
    min-width: 150px;
    display: none;
    z-index: 1;
}   

.sub-menu-item a {
    padding: 10px;
    text-transform: none;
    background: black;
}   

.sub-menu-item a:hover {
    color: darkgreen;
}

.menu-item:hover > .sub-menu {
    display: block;
}

/* SLIDER */

.slider {
  width: 50%;
  margin: auto;
  position: relative;
}

.mySlides {
    display: none;
    width: 100%;
}

.arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.leftArrow {
    float: left;
    cursor: pointer;
    transform: rotate(180deg);
}

.rightArrow {
    float: right;
    cursor: pointer;
}

/* CONTENT */

#content {
    display: flex;
    flex-wrap: wrap;
}

.dish {
    border: 1px solid black;
    width: 15%;
    margin: 10px;
    padding: 5px;
    background-color: lightgray;
    display: none;
}

.dish-icon {
    width: 100%;
}

/* CONTACT */

.contact-content {
    margin: auto;
    width: 50%;
}
#map {
    width: 100%;
    height: 500px;
}

/* PAGINATION */

.pagination-active {
    color: darkgreen;
    background-color: lightgray;
}

.paginator {
    width: min-content;
    margin: auto;
}

.paginator span {
    margin: 5px;
    padding: 5px;
}

.paginator span:hover {
    cursor: pointer;
}